<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="./static/css/custom.css">
    <script src="./static/js/jquery-3.4.1.min.js"></script>
    <script src="./static/js/jquery.dataTables.min.js"></script>
    <script src="./static/js/jquery.csv.min.js"></script>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Twitter Data Visualization</title>
    {% endif %}
</head>

<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Twitter Influencers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <select class="custom-select" id="countryselected">
                    <option selected>Select Country</option>
                    <option value="afghanistan">Afghanistan</option>
                    <option value="aland-islands">Aland Islands</option>
                    <option value="albania">Albania</option>
                    <option value="algeria">Algeria</option>
                    <option value="american-samoa">American Samoa</option>
                    <option value="andorra">Andorra</option>
                    <option value="angola">Angola</option>
                    <option value="anguilla">Anguilla</option>
                    <option value="antigua-and-barbuda">Antigua and Barbuda</option>
                    <option value="argentina">Argentina</option>
                    <option value="armenia">Armenia</option>
                    <option value="aruba">Aruba</option>
                    <option value="australia">Australia</option>
                    <option value="austria">Austria</option>
                    <option value="azerbaijan">Azerbaijan</option>
                    <option value="bahamas">Bahamas</option>
                    <option value="bahrain">Bahrain</option>
                    <option value="bangladesh">Bangladesh</option>
                    <option value="barbados">Barbados</option>
                    <option value="belarus">Belarus</option>
                    <option value="belgium">Belgium</option>
                    <option value="belize">Belize</option>
                    <option value="benin">Benin</option>
                    <option value="bermuda">Bermuda</option>
                    <option value="bhutan">Bhutan</option>
                    <option value="bolivia">Bolivia</option>
                    <option value="bonaire-saint-eustatius-and-saba">Bonaire Saint Eustatius and Saba</option>
                    <option value="bosnia-and-herzegovina">Bosnia and Herzegovina</option>
                    <option value="botswana">Botswana</option>
                    <option value="brazil">Brazil</option>
                    <option value="british-indian-ocean-territory">British Indian Ocean Territory</option>
                    <option value="british-virgin-islands">British Virgin Islands</option>
                    <option value="brunei">Brunei</option>
                    <option value="bulgaria">Bulgaria</option>
                    <option value="burkina-faso">Burkina Faso</option>
                    <option value="burundi">Burundi</option>
                    <option value="cambodia">Cambodia</option>
                    <option value="cameroon">Cameroon</option>
                    <option value="canada">Canada</option>
                    <option value="cape-verde">Cape Verde</option>
                    <option value="cayman-islands">Cayman Islands</option>
                    <option value="central-african-republic">Central African Republic</option>
                    <option value="chad">Chad</option>
                    <option value="chile">Chile</option>
                    <option value="china">China</option>
                    <option value="cocos-islands">Cocos Islands</option>
                    <option value="colombia">Colombia</option>
                    <option value="comoros">Comoros</option>
                    <option value="costa-rica">Costa Rica</option>
                    <option value="croatia">Croatia</option>
                    <option value="cuba">Cuba</option>
                    <option value="curacao">Curacao</option>
                    <option value="cyprus">Cyprus</option>
                    <option value="czech-republic">Czech Republic</option>
                    <option value="democratic-republic-of-the-congo">Democratic Republic of the Congo</option>
                    <option value="denmark">Denmark</option>
                    <option value="djibouti">Djibouti</option>
                    <option value="dominica">Dominica</option>
                    <option value="dominica-republic">Dominica Republic</option>
                    <option value="east-timor">East Timor</option>
                    <option value="ecuador">Ecuador</option>
                    <option value="egypt">Egypt</option>
                    <option value="el-salvador">El Salvador</option>
                    <option value="equatorial-guinea">Equatorial Guinea</option>
                    <option value="eritrea">Eritrea</option>
                    <option value="estonia">Estonia</option>
                    <option value="ethiopia">Ethiopia</option>
                    <option value="falkland-islands">Falkland Islands</option>
                    <option value="faroe-islands">Faroe Islands</option>
                    <option value="fiji">Fiji</option>
                    <option value="finland">Finland</option>
                    <option value="france">France</option>
                    <option value="french-guiana">French Guiana</option>
                    <option value="french-polynesia">French Polynesia</option>
                    <option value="global">GLOBAL</option>
                    <option value="gabon">Gabon</option>
                    <option value="gambia">Gambia</option>
                    <option value="georgia">Georgia</option>
                    <option value="germany">Germany</option>
                    <option value="ghana">Ghana</option>
                    <option value="gibraltar">Gibraltar</option>
                    <option value="greece">Greece</option>
                    <option value="greenland">Greenland</option>
                    <option value="grenada">Grenada</option>
                    <option value="guadeloupe">Guadeloupe</option>
                    <option value="guam">Guam</option>
                    <option value="guatemala">Guatemala</option>
                    <option value="guernsey">Guernsey</option>
                    <option value="guinea">Guinea</option>
                    <option value="guinea-bissau">Guinea-Bissau</option>
                    <option value="guyana">Guyana</option>
                    <option value="haiti">Haiti</option>
                    <option value="honduras">Honduras</option>
                    <option value="hong-kong">Hong Kong</option>
                    <option value="hungary">Hungary</option>
                    <option value="iceland">Iceland</option>
                    <option value="india">India</option>
                    <option value="indonesia">Indonesia</option>
                    <option value="iran">Iran</option>
                    <option value="iraq">Iraq</option>
                    <option value="ireland">Ireland</option>
                    <option value="isle-of-man">Isle of Man</option>
                    <option value="israel">Israel</option>
                    <option value="italy">Italy</option>
                    <option value="ivory-coast">Ivory Coast</option>
                    <option value="jamaica">Jamaica</option>
                    <option value="japan">Japan</option>
                    <option value="jersey">Jersey</option>
                    <option value="jordan">Jordan</option>
                    <option value="kazakhstan">Kazakhstan</option>
                    <option value="kenya">Kenya</option>
                    <option value="kosovo">Kosovo</option>
                    <option value="kuwait">Kuwait</option>
                    <option value="kyrgyzstan">Kyrgyzstan</option>
                    <option value="laos">Laos</option>
                    <option value="latvia">Latvia</option>
                    <option value="lebanon">Lebanon</option>
                    <option value="lesotho">Lesotho</option>
                    <option value="liberia">Liberia</option>
                    <option value="libya">Libya</option>
                    <option value="liechtenstein">Liechtenstein</option>
                    <option value="lithuania">Lithuania</option>
                    <option value="luxembourg">Luxembourg</option>
                    <option value="macao">Macao</option>
                    <option value="macedonia">Macedonia</option>
                    <option value="madagascar">Madagascar</option>
                    <option value="malawi">Malawi</option>
                    <option value="malaysia">Malaysia</option>
                    <option value="maldives">Maldives</option>
                    <option value="mali">Mali</option>
                    <option value="malta">Malta</option>
                    <option value="marshall-islands">Marshall Islands</option>
                    <option value="martinique">Martinique</option>
                    <option value="mauritania">Mauritania</option>
                    <option value="mauritius">Mauritius</option>
                    <option value="mayotte">Mayotte</option>
                    <option value="mexico">Mexico</option>
                    <option value="micronesia">Micronesia</option>
                    <option value="moldova">Moldova</option>
                    <option value="monaco">Monaco</option>
                    <option value="mongolia">Mongolia</option>
                    <option value="montenegro">Montenegro</option>
                    <option value="montserrat">Montserrat</option>
                    <option value="morocco">Morocco</option>
                    <option value="mozambique">Mozambique</option>
                    <option value="myanmar">Myanmar</option>
                    <option value="namibia">Namibia</option>
                    <option value="nauru">Nauru</option>
                    <option value="nepal">Nepal</option>
                    <option value="netherlands">Netherlands</option>
                    <option value="netherlands-antilles">Netherlands Antilles</option>
                    <option value="new-caledonia">New Caledonia</option>
                    <option value="new-zealand">New Zealand</option>
                    <option value="nicaragua">Nicaragua</option>
                    <option value="niger">Niger</option>
                    <option value="nigeria">Nigeria</option>
                    <option value="norfolk-island">Norfolk Island</option>
                    <option value="north-korea">North Korea</option>
                    <option value="northern-mariana-islands">Northern Mariana Islands</option>
                    <option value="norway">Norway</option>
                    <option value="oman">Oman</option>
                    <option value="pakistan">Pakistan</option>
                    <option value="palau">Palau</option>
                    <option value="palestinian-territory">Palestinian Territory</option>
                    <option value="panama">Panama</option>
                    <option value="papua-new-guinea">Papua New Guinea</option>
                    <option value="paraguay">Paraguay</option>
                    <option value="peru">Peru</option>
                    <option value="philippines">Philippines</option>
                    <option value="poland">Poland</option>
                    <option value="portugal">Portugal</option>
                    <option value="puerto-rico">Puerto Rico</option>
                    <option value="qatar">Qatar</option>
                    <option value="republic-of-the-congo">Republic of the Congo</option>
                    <option value="reunion">Reunion</option>
                    <option value="romania">Romania</option>
                    <option value="russia">Russia</option>
                    <option value="rwanda">Rwanda</option>
                    <option value="saint-kitts-and-nevis">Saint Kitts and Nevis</option>
                    <option value="saint-lucia">Saint Lucia</option>
                    <option value="saint-martin">Saint Martin</option>
                    <option value="saint-vincent-and-the-grenadines">Saint Vincent and the Grenadines</option>
                    <option value="samoa">Samoa</option>
                    <option value="san-marino">San Marino</option>
                    <option value="sao-tome-and-principe">Sao Tome and Principe</option>
                    <option value="saudi-arabia">Saudi Arabia</option>
                    <option value="senegal">Senegal</option>
                    <option value="serbia">Serbia</option>
                    <option value="seychelles">Seychelles</option>
                    <option value="sierra-leone">Sierra Leone</option>
                    <option value="singapore">Singapore</option>
                    <option value="slovakia">Slovakia</option>
                    <option value="slovenia">Slovenia</option>
                    <option value="somalia">Somalia</option>
                    <option value="south-africa">South Africa</option>
                    <option value="south-korea">South Korea</option>
                    <option value="south-sudan">South Sudan</option>
                    <option value="spain">Spain</option>
                    <option value="sri-lanka">Sri Lanka</option>
                    <option value="sudan">Sudan</option>
                    <option value="suriname">Suriname</option>
                    <option value="swaziland">Swaziland</option>
                    <option value="sweden">Sweden</option>
                    <option value="switzerland">Switzerland</option>
                    <option value="syria">Syria</option>
                    <option value="taiwan">Taiwan</option>
                    <option value="tajikistan">Tajikistan</option>
                    <option value="tanzania">Tanzania</option>
                    <option value="thailand">Thailand</option>
                    <option value="togo">Togo</option>
                    <option value="tokelau">Tokelau</option>
                    <option value="tonga">Tonga</option>
                    <option value="trinidad-and-tobago">Trinidad and Tobago</option>
                    <option value="tunisia">Tunisia</option>
                    <option value="turkey">Turkey</option>
                    <option value="turkmenistan">Turkmenistan</option>
                    <option value="turks-and-caicos-islands">Turks and Caicos Islands</option>
                    <option value="u-s-virgin-islands">U.S. Virgin Islands</option>
                    <option value="uganda">Uganda</option>
                    <option value="ukraine">Ukraine</option>
                    <option value="united-arab-emirates">United Arab Emirates</option>
                    <option value="united-kingdom">United Kingdom</option>
                    <option value="united-states">United States</option>
                    <option value="uruguay">Uruguay</option>
                    <option value="uzbekistan">Uzbekistan</option>
                    <option value="vanuatu">Vanuatu</option>
                    <option value="vatican">Vatican</option>
                    <option value="venezuela">Venezuela</option>
                    <option value="vietnam">Vietnam</option>
                    <option value="yemen">Yemen</option>
                    <option value="zambia">Zambia</option>
                    <option value="zimbabwe">Zimbabwe</option>
                </select>
            </li>
        </ul>
    </div>
</nav>
<!-- Navigation bar -->
<br><br><br>


<!-- Main Content -->
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-1 sidenav">
            <!--Save the space for future-->
        </div>

        <div class="col-sm-10 text-center">
            <div class="table-responsive" id="content-display" style="height: 700px;">

            </div>
        </div>

        <div class="col-sm-1 sidenav">
            <!--Save the space for future-->
        </div>
    </div>
</div>
<!-- Main Content -->


<!-- Footer -->
<footer class="page-footer font-small fixed-bottom">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Guanqi Fang, Rong Pan, and Aleksey Valeriy
        Panasyuk
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<script type="text/javascript">

    function onButtonClick(name) {
        var name;
        $.ajax({
            url: '/draw/',
            type: 'POST',
            data: {'screenname':name},
            success: function(name){ },
        });
    }

    $(document).ready(function () {
        $("#countryselected").change(function () {
            var country = $(this).val();
            var data;
            $.ajax({
                type: "GET",
                url: "./static/input/" + country + ".csv",
                dataType: "text",
                success: function (response) {
                    data = $.csv.toArrays(response);
                    generateHTMLTable(data);
                    $('#countrytable').DataTable();
                }
            });

            function generateHTMLTable(data) {
                var jstable = '<table  id="countrytable" class="table table-condensed table-hover table-striped">' +
                    '<caption>List of Influencers</caption>';

                if (typeof (data[0]) === 'undefined') {
                    return null;
                } else {
                    $.each(data, function (index, row) {
                        //bind header
                        if (index == 0) {
                            row.splice(2,0,"Visualization");
                            jstable += '<thead>';
                            jstable += '<tr>';
                            $.each(row, function (index, colData) {
                                jstable += '<th>';
                                jstable += colData;
                                jstable += '</th>';
                            });
                            jstable += '</tr>';
                            jstable += '</thead>';
                            jstable += '<tbody>';
                        } else {
                            jstable += '<tr>';
                            $.each(row, function (index, colData) {
                                if (index == 1) {
                                    jstable += '<td>';
                                    jstable += '<div class="placeholder-img">';
                                    jstable += '<a href="./static/images/westlake.jpg" target="_blank">';
                                    jstable += '<img src="./static/images/katy.jpg" style="width:40px"  align="left" alt="Image Not Existing">';
                                    jstable += "</a>";
                                    jstable += '</div>';
                                    jstable += '<a href="https://twitter.com/'
                                    jstable += colData.split("@")[1].slice(0, -1);
                                    jstable += '" target="_blank">';
                                    jstable += colData;
                                    jstable += "</a>";
                                    jstable += '</td>';
                                    jstable += '<td>';
                                    jstable += '<button onclick = "onButtonClick(\'';
                                    jstable += colData.split('@')[1].slice(0, -1);
                                    jstable += '\')">';
                                    jstable += 'Execute Kibana';
                                    jstable += '</button>';
                                    jstable += '</td>';
                                } else {
                                    jstable += '<td>';
                                    jstable += colData;
                                    jstable += '</td>';
                                }
                            });
                            jstable += '</tr>';
                        }
                    });
                    jstable += '</tbody>';
                    jstable += '</table>';
                    $('#content-display').empty(jstable);
                    $('#content-display').append(jstable);
                }
            };
        });
    });
</script>

</body>
</html>